@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif !important;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-container {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
  height: unset;
}

.project-image-border-radius {
  border-radius: 10px;
}

.primary-button {
  background: #8519f6 !important;
}

.primary-button:hover {
  background: #5504aa !important;
}

.film-button:hover {
  background: #e0be36 !important;
}

.gamearts-button:hover {
  background: #ef6351 !important;
}

.gamesprogramming-button:hover {
  background: #f87060 !important;
}

.web-button:hover {
  background: #593f62 !important;
}

.audio-button:hover {
  background: #1f7a8c !important;
}

.animation-button:hover {
  background: #647aa3 !important;
}

.cross-media-button:hover {
  background: #17bebb !important;
}

.grid-container {
  display: grid !important;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
  justify-content: center;
  flex-flow: nowrap !important;
}

.grid-container-upload {
  display: grid !important;
  width: 100%;
  gap: 10px !important;
  grid-template-columns: repeat(auto-fit, 110px) !important;
  justify-content: center;
  flex-flow: nowrap !important;
}

.project-button-publish {
  background: #8519f6 !important;
}

.project-button-publish:hover {
  background: #5504aa !important;
}

.project-button-cancel {
  background: rgba(0, 0, 0, 0.4) !important;
}

.project-button-cancel:hover {
  background: #ef6351 !important;
}

.project-add-button {
  background: #8519f6 !important;
}

.project-add-button:hover {
  background: #5504aa !important;
}

.project-button-fixed-cancel {
  background: #e8e9eb !important;
}

.project-button-fixed-cancel:hover {
  background: #ef6351 !important;
  color: #fff !important;
}

.bookmark-button {
  background: #8519f6 !important;
  color: #fff !important;
}

.bookmark-button:hover {
  background: #5504aa !important;
  color: #fff !important;
}

.project-button-group:hover {
  color: #fff !important;
  background: #5504aa !important;
}

.user-default-button {
  background: #8519f6 !important;
  color: #fff !important;
}

.user-default-button:hover {
  background: #5504aa !important;
  color: #fff !important;
}

.user-contact-element-button {
  background: #e8e9eb !important;
  color: #000 !important;
}

.user-contact-element-button:hover {
  background: #ef6351 !important;
  color: #fff !important;
}

/* TIPTAP WYSIWYG Editor */
.ProseMirror {
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror:focus {
  outline: none;
}

.tiptap-edit {
  height: 160px !important;
  overflow-y: scroll !important;
  line-height: 1.5 !important;
}

.tiptap-active {
  background: #5504aa !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.iframe-border {
  border-radius: 10px !important;
}/*# sourceMappingURL=globals.css.map */